html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

#map {
    position: absolute;
    top: 35px;
    bottom: 25px;
    right: 25px;
    left: 25px;    
    box-shadow: 0 4px 16px 0 black;
}

#map > div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#map.show-message {
    pointer-events: none;
}

#map .map-overlay {
    display: none;
    z-index: 2;
}

#map.show-message .map-overlay {
    display: block;
    background: rgba(0,0,0,0.5);   
    text-align: center;
    color: #eee;
    text-shadow: 0 -1px 1px black;
}

.center {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

.center > div {
    display: table-cell;
    vertical-align: middle;
}

.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-transition: margin 0.2s;
     -moz-transition: margin 0.2s;
       -o-transition: margin 0.2s;
          transition: margin 0.2s;
}

.map-container {
  background-image: url('https://dl.dropbox.com/u/14898/Photos/leaflet-screenshot.png');
  background-size: cover;
}
tr{
    height: 5vh !important;
}
.userProfilPics{
    height:auto !important;
    max-width: 100% !important;
}